.container {
  max-width: 65rem;
  padding: 0 1rem;
  margin: 6rem auto 6rem;
}

.homeHeader {
  display: flex;
  flex-direction: column;
  margin-top: 8rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerImage {
  width: 6rem;
  height: 6rem;
}

.headerHomeImage {
  width: 8rem;
  height: 8rem;
}

.backToHome {
  margin: 3rem 0 0;
}

/* -------------Animations--------------- */
.animate1 {
  position: relative;
  animation: gradualOpacity 2s cubic-bezier(0.215, 0.61, 0.355, 1);
}

@-webkit-keyframes gradualOpacity {
  0% {
    transform: translateY(1.2em);
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0px);
    opacity: 100;
  }
}
/* Standard syntax */
@keyframes gradualOpacity {
  0% {
    transform: translateY(1.2em);
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    transform: translate(0px, 0px);
    opacity: 100;
  }
}

.animate2 {
  /* position: relative; */
  animation: headerMove 1s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/* Standard syntax */
@keyframes headerMove {
  0% {
    opacity: 0;
    transform: translate(0%, 140%);
  }

  50% {
    opacity: 0;
  }

  100% {
    transform: translate(90%, 140%);
  }
}

.animate3 {
  animation: bgColor 1s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/* Standard syntax */
@keyframes bgColor {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    opacity: 100;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
