.navText {
  letter-spacing: -0.3px;
  font-weight: 700;
}

.marginNav {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.mobileBorder {
  border-top: 0.25rem solid #2e465c;
  border-bottom: 0.25rem solid #2e465c;
  padding: 1rem;
}

.navPadding {
  padding: 0 1rem;
}

@media only screen and (max-width: 770px) {
  .mobileBorder {
    margin-top: 0;
  }
  .marginNav {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
  }
}

@media only screen and (max-width: 414px) {
  .mobileBorder {
    margin-top: 2rem;
  }
  .navPadding {
    padding: 0 0.5rem;
  }
}
