.navText {
  letter-spacing: -0.3px;
  font-weight: 700;
}

.marginNav {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-right: 0;
  margin-left: 0;
}

.mobileBorder {
  border-top: 0.25rem solid #2e465c;
  border-bottom: 0.25rem solid #2e465c;
  padding: 1rem;
}

.navPadding {
  padding: 0 1rem;
}

.textSlideUp {
  animation: slideUp 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

@media only screen and (max-width: 770px) {
  .mobileBorder {
    margin-top: 0;
  }
  .marginNav {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
  }
}

@media only screen and (max-width: 414px) {
  .mobileBorder {
    margin-top: 2rem;
  }
  .navPadding {
    padding: 0 0.5rem;
  }
}
