@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");

.title {
  font-family: "Playfair Display", serif;
  font-size: 6.5rem;
  line-height: 1.15;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.titleSmall {
  font-family: "Playfair Display", serif;
  font-size: 1.4rem;
  line-height: 1.15;
  font-weight: 800;
  letter-spacing: -0.05rem;
  /* margin: 1rem 0; */
}

.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 700;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
  letter-spacing: -0.05rem;
}

.boldText {
  font-weight: 500;
  letter-spacing: -0.5px;
  font-size: 0.6rem;
  color: #384a5a;
  line-height: 1.2;
}

.boldTextLight {
  font-weight: 500;
  letter-spacing: -0.5px;
  font-size: 0.6rem;
  color: #f5f5e8;
  line-height: 0.6;
}

.borderCircle {
  border-radius: 50%;
  padding: 0.4em;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.lightText {
  color: #999;
}

.underline {
  border-bottom: 0.14em solid #e7c2b8;
  display: inline-block;
  line-height: 0.7;
  /* text-shadow: 2px 2px #f5f5e8, 2px -2px #f5f5e8, -2px 2px #f5f5e8,
    -2px -2px #f5f5e8; */
}

.headerHomeImage {
  width: 8rem;
  height: 8rem;
}

/* ------------Animated Links-------------- */

.anchorLight {
  position: relative;
  color: #2e465c;
  text-decoration: none;
  letter-spacing: -0.3px;
  font-weight: 700;
}

.anchorLight:hover {
  color: #2e465c;
  border-bottom: none;
}

.anchorLight::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #e7c2b8;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.2s ease-in-out 0s;
}

.anchorLight:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

/* --------------Dark---------------- */
.anchorDark {
  position: relative;
  color: #f5f5e8;
  text-decoration: none;
  letter-spacing: -0.3px;
  font-weight: 700;
}

.anchorDark:hover {
  color: #f5f5e8;
  border-bottom: none;
}

.anchorDark::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #e7c2b8;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.2s ease-in-out 0s;
}

.anchorDark:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

.anchorLarge {
  font-size: 1.5rem;
  margin: 2rem;
}

.anchorFade1 {
  animation: gradualOpacity 1s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.anchorFade2 {
  animation: gradualOpacity 1.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.anchorFade3 {
  animation: gradualOpacity 2s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.anchorFade4 {
  animation: gradualOpacity 2.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.containerFlexHalf {
  display: flex;
  flex: 1 50%;
}

.containerFlexFull {
  display: flex;
  flex: 1 100%;
}

@media only screen and (max-width: 800px) {
  .containerFlexHalf {
    flex: 1 100%;
  }
}

/* ---------Break Points--------- */

/* Small devices */
@media only screen and (max-width: 600px) {
  .headingXl {
    font-size: 6vw;
  }
}

/* -------------Animations--------------- */

@-webkit-keyframes gradualOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
/* Standard syntax */
@keyframes gradualOpacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100;
  }
}
